<!DOCTYPE html>
<html>
<head>
    <title>Sobre</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" sizes="16x16 32x32 48x48">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Sobre</h1>
    <p>Esta é a página sobre a minha aplicação web.</p>
    <p>Ola {{ nome }}!!</p>
    <h2>Posts</h2>
    <!-- Aqui estamos pegando os do db em TinyDB e interando para aparecer na tela, como fosse um fetch-->
    <ul>
        {% for post in posts %}
            <li>{{ post.nome }}</li>
        {% endfor %}
    </ul>
</body>
</html>