<!DOCTYPE html>
<htm>
    <head>
        <title>Página de cadastro</title>
    </head>
    <body>
        <h1>Cadastrar novo usuário</h1>
        <p>Prencha suas informações</p>
        <div>
            <form action="/cadastrarUsuario" method="post">
                <input type="text" name="usuario" placeholder="Nome do suário">
                <input type="text" name="email" placeholder="Email">
                <input type="password" name="senha" placeholder="Digite sua Senha">
                <button type="submit">Enviar</button>
            </form>
            <br>
            <p>Já tem uma conta? Faça <a href="/">login</a></p>
        </div>
    </body>
</htm>