<!DOCTYPE html>
<htm>
    <head>
        <title>Página de Login</title>
    </head>
    <body>
        <h1>Movimentação para espesifica</h1>
        <p>Coloque as coordenadas para onde desejar mover o braço.</p>
        <div>
            <form action="/posicaoEspefica" method="post">
                <input type="number" name="x" placeholder="X">
                <input type="number" name="y" placeholder="Y">
                <input type="number" name="z" placeholder="Z">
                <input type="number" name="r" placeholder="R">
                <button type="submit">Enviar</button>
            </form>
        </div>
    </body>
</htm>